doctype html
html
include includes/head.pug
body
  h1 Créer votre compte en renseignant Id et Mot de passe
  form(action='/processing' method='POST')
    p
      | Choisissez un dentifiant :
      br 
      input(type='text' name='login' required)
    p
      | Choisissez un mot de Passe :
      br
      input(type='password' name='password' required)
    p
      input(type='submit' value='Créer un compte')